# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

*.nupkg
**/packages/*
**/Generated/*

#.vscode/
global.json
coverage.*
*.Generated.cs

*~

#meson
builddir
installdir

#Rider
*.idea

# Visual Studio
.vs/
*.DotSettings.user

# Documentation generated with fxdoc
_site/
