<#@ template debug="false" language="C#" visibility="internal" #>
<#@ output extension=".cs" #>

using System;

namespace <#= Namespace.Name #>
{
    <#= Enum.HasFlags ? "[Flags]" : "" #>
    public enum <#= Enum.Name #> : long
    {
    <#
        foreach(var field in Enum.Fields)
        {
            WriteLine(field.Name + " = " + field.Value + ",");
        }    
    #>
    }
}