name: Update gir files
on:
  workflow_dispatch:
  schedule:
    #        ┌───────────── minute (0 - 59)
    #        │  ┌───────────── hour (0 - 23)
    #        │  │ ┌───────────── day of the month (1 - 31)
    #        │  │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │  │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        *  * * * *
    - cron: '00 4 * * 5'

jobs:
  update:
    name: Update gir files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: 'true'
      - name: Update submodules
        run: |
          git pull --recurse-submodules
          git submodule update --remote --recursive
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit -m "update submodules" -a
      - name: Create pull request
        uses: peter-evans/create-pull-request@v8
        with:
          branch: update-gir-files
          commit-message: Update gir files
          title: Update gir files
          body: Keep the gir files in sync with https://github.com/gircore/gir-files
          delete-branch: true
